@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

    <p>
        The FRINDOC project is managed by a consortium of six partners, coordinated by EUA, and consisting of the University of Hong Kong, Stellenbosch University, Imperial College London, the University of Bergen and the University of Camerino.
    </p>

    <h1>The Framework for Internationalisation of Doctoral Education (FRINDOC)</h1>
    <p>
        The Framework for Internationalisation of Doctoral Education (FRINDOC) project aims at providing a comprehensive overview of good practices and valuable experiences for universities. The project will develop a framework containing a statement of good practice on internationalisation and an online tool for universities to aid planning and implementation of internationalisation strategies for doctoral education. This tool should function as a comprehensive strategic tool for planning, promoting and supporting mobility in doctoral programmes enabling universities to attain a united picture of strategic goals, capacity and possibilities to implement the right structures for their particular profile.
        </p><p>
    Doctoral candidates are one of, if not the, most mobile group within universities. Therefore, the strategic importance of doctoral education in successfully implementing visions for internationalisation is very high. Successful internationalisation of doctoral education strengthens research, teaching and international outreach of universities. It is hence essential that universities have access to the information and resources necessary to implement their internationalisation strategies for doctoral education.
</p><p>
        <h1>Using the tool</h1>
     <p>
    The FRINDOC tool is designed for self-evaluation purposes. The ratings you choose cannot be considered as right or wrong, but it is important that they are selected in a coherent manner. To assist in this, the tool requires that you complete all of the information on the first page, ‘General Information’, including selecting and/or defining a benchmark which you should then bear in mind when answering each question. This will contextualise your responses and should help you to better interpret the final report the tool will generate.
         </p><p>
    In order to get the most benefit from the tool, it is also strongly advised to adopt a collaborative approach within your institution when completing the tool and consult with colleagues from various sections of your institution before assigning ratings. It is essential that the team completing the tool have a common understanding of the chosen benchmark and try to agree on the interpretation of each question and the rating it deserves.
</p><p>
    It is also strongly recommended to complete the ‘Comments’ box following each question as this will help to further contextualise the final report generated. In cases where a team cannot reach consensus in terms of the ratings to be assigned, it could then be commented on that an agreement could not be reached on that particular rating and why this is the case.
</p><p>
    Finally, you will see that we have provided some clarifications concerning the questions and the elements we think would be helpful for you to think about when assigning ratings. You are encouraged, however, to interpret the questions according to your institution’s particular needs.
</p>
